html, body {
    height: 100%;
    margin: 0;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background {
    width: 120%; /* Set the width of the image to 100% of the container */
    height: 120%; /* Set the height of the image to 100% of the container */
}

button {
    position: absolute;
    bottom: 10%; /* Position the button at the bottom of the container */
    left: 50%; /* Position the button in the horizontal center */
    transform: translateX(-50%); /* Center the button horizontally */
    z-index: 1;
    background-color: #ffffff;
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer; /* Add a pointer cursor to the button */
}
